body {
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.login-form h2 {
    color: red;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 900;

}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 15px;
}